body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 100vh 100%   ;
    grid-gap: 0.5em;
  }
  
  .navbar {
    grid-column: 1 / span 5;
    position: sticky;
    top: 0;
  }
  .hero{
      grid-column: span 5;
  }
  main {
    grid-column: 2 / span 4;
  }
  
  aside {
    grid-column:  span 1;
  }
  
  @media (max-width: 700px) {
    
    main,
    aside {
      grid-column: 1 / span 5;
    }
    
  }
  

  .hero,
  main,
  aside{
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .navbar{
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar > a {
    padding-right: 10px;
    color: #21211f;
    color: #21211f;
    font-size: 0.7rem;
    line-height: 0;
    letter-spacing: 0.135rem;
    margin: -0.35rem 0 0 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
  }

  .navbar > a:hover {
      color:grey;
      text-decoration: underline;
  }
  
  main.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.container section.content h1 {
	color: #21211f;
	font-size: 7.35rem;
	padding: 0;
	letter-spacing: -0.1rem;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 900;
}
main.container section.content p {
	color: #21211f;
	font-size: 0.9rem;
	line-height: 0;
	letter-spacing: 0.135rem;
	margin: -0.35rem 0 0 0;
	padding: 0 0 0 15rem;
	font-family: monospace;
	font-style: normal;
	font-weight: 400;
}
main.container section.content a {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	width: auto;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 300;
	background: #e22a25;
	border-radius: 50px;
	padding: 0.75rem 1.5rem;
	font-size: 0.9rem;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.5s ease;
}
main.container section.content a:hover {
	background: #21211f;
	transition: all 0.5s ease;
}


